@model PPIS.Models.OcjenaDobavljaca

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Detalji o ocjeni dobavljača:</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dobavljac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dobavljac.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OcjenaCijene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcjenaCijene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OcjenaRokaIporuke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcjenaRokaIporuke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IspostovaneStavkeUgovora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IspostovaneStavkeUgovora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KvalitetIsporuke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KvalitetIsporuke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utisak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utisak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocjena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpisnaOcjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisnaOcjena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjena", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Nazad", "Index")
</p>
