@model IEnumerable<PPIS.Models.ZahtjevZaPromjenom>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Pregled zahtjeva</h2>

<p>
    @Html.ActionLink("Unesi novi zahtjev", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Menadzer.ImeIPrezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.ImeIPrezime)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StatusZahtjevaZaPromjenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrioritetZahtjeva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPodnosenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivPromjene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpisPromjene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RokIzvrsenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZahtijevaniPosao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanRealizacije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPrihvatanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumSvrsetka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Komentar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Menadzer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StatusZahtjevaZaPromjenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrioritetZahtjeva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumPodnosenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivPromjene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpisPromjene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RokIzvrsenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZahtijevaniPosao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanRealizacije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumPrihvatanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumSvrsetka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Komentar)
        </td>
        <td>
            @Html.ActionLink("Izmjena", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
