@model IEnumerable<PPIS.Models.Issue>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Pregled zahtjeva</h2>

<p>
    @Html.ActionLink("Unesi novi zahtjev", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
       @* <th>
        @Html.DisplayNameFor(model => model.Event.ImeIPrezime)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Incident.ImeIPrezime)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ProblemManager.ImeIPrezime)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.User.ImeIPrezime)
    </th>*@
            <th>
                @Html.DisplayName("Status zahtjeva")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPodnosenja)
            </th>
            <th>
                @Html.DisplayName("Naziv zahtjeva")
            </th>
            <th>
                @Html.DisplayName("Opis zahtjeva")
            </th>
            <th>
                @Html.DisplayName("Prioritet zahtjeva")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentar)
            </th>
           
        
         <th>
             @Html.DisplayName("Naziv problema")

         </th>
        </tr>

    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StatusProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPodnosenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrioritetProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Problem.Naziv)
            </td>

<td>
                @Html.ActionLink("Izmjena", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Detalji", "Details", new { id=item.ID }) |
                @Html.ActionLink("Obriši", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>
